.main-1{
    max-width: 500px;
    margin: auto;
    height: auto;
    background: #EEEEEE;
   padding-bottom: 15px; 
  }
.main-1 .header{
  background: #337AB7;
  height: 60px;
}
.main-1 .header .fa-folder{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .fa-buysellads{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .p{
  color: #fff;
  float: right;
  padding-right: 12px;

}
.main-1 .header .p-2{
  color: #fff;
  float: right;
  margin-top: 30px;
  margin-right: -26px;
  font-size: 18px;
}
.main-1 .header .p-3{
  color: #fff;
  margin-top: 10px;
  margin-left: 26px;
  font-size: 18px;
}

.main-1 .pack{
  display: flex;
  margin-top: 12px;
}
.main-1 .pack .box-1{
  height: 160px;
  width: 230px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 6px 6px 3px -3px rgba(0, 0, 0,0.3);
}
.main-1 .pack .box-2{
 height: 160px;
  width: 230px;
  background: #FFFFFF;
  border-radius: 12px;
  margin-left: 12px;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0,0.3);
}
.main-1 .pack .box-1 .play{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23vh;
}
.main-1 .pack .box-1 i{
  color: #337AB7;
  font-size: 50px;
}
.main-1 .pack .box-1 p{
  font-size: 16px;
  padding-top: 6px;
   font-weight: bold;
}

.main-1 .pack .box-2 .play{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23vh;
}
.main-1 .pack .box-2 i{
  color: #337AB7;
  font-size: 50px;
}
.main-1 .pack .box-2 p{
  font-size: 16px;
  padding-top: 6px;
   font-weight: bold;
}
.logout-div{
  width: auto;
  background: #FFFFFF;
  height: 150px;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0,0.3);
  border-radius: 12px;
  margin-top: 12px;
}
.logout-div i{
  color: #337AB7;
  font-size: 50px;
}
.logout-div p{
  font-size: 16px;
  padding-top: 6px;
  font-weight: bold;
}
.logout-div .main-logout{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23vh;
}
